.background {
	background-image: url("../assets/images/1582.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: -2;

	h1 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
