.neon-border {
	border: 1px solid $primary;
	border-radius: 5px;
}

.neon-border:before,
.neon-border:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid $primary;
	border-radius: 5px;
	opacity: 0;
	z-index: -1;
}

.neon-border:before {
	top: 0;
	left: 0;
}

.neon-border:after {
	bottom: 0;
	right: 0;
}

@keyframes neon {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.neon-border:hover:before,
.neon-border:hover:after {
	animation: neon 1s infinite;
}
